# R for travis: see documentation at https://docs.travis-ci.com/user/languages/r

language: R
cache: packages
after_success:
  - Rscript -e 'covr::codecov()'
r_github_packages: ropensci/ckanr
addons:
  apt:
    packages:
      - libudunits2-dev
      - libgdal-dev
r:
  - oldrel
  - release
  - devel

before_cache: Rscript -e 'remotes::install_cran("pkgdown")'
deploy:
  provider: script
  script: Rscript -e 'pkgdown::deploy_site_github()'
  skip_cleanup: true
